<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quze2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188BF2D41D7FF36E007EB92B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188BF2ED1D7FF36F007EB92B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188BF2F81D7FF36F007EB92B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
